/* Definições iniciais */
:root {
  --primary: #63287f;
  --secondary: #63287f;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* ------------------------------------------------ Navbar ------------------------------------------------ */

.navbar-tecsul {
  background-color: #63287f;
}

.navbar {
  padding: 1vw 3.5vw;
}

.nav-item {
  margin-left: 1vw;
  font-size: medium;
}

.banner-container {
  margin-top: -1vw;
}

#banner {
  width: 100%;
  height: auto;
}

#slogan {
  background-color: #63287f;
  padding-top: 5vw;
  width: 350px;
}

.dark-container {
  height: fit-content;
}

.contador-regressivo {
  position: relative;
  margin-top: -29%;
  margin-left: 4%;
  width: fit-content;
  height: fit-content;
}

@media(max-width: 768px) {
  .dark-container {
    position: relative;
    width: 100%;
    height: 80vw;
  }
  
  .contador-regressivo {
    float: none;
    position: relative;
    width: 100%;
    margin: 0;
    background-color: none;
    height: 50vh;
  }

  .contador-regressivo #timer-label {
    font-size: 4vw;
  }
  
  .contador-regressivo #timer {
    font-size: 11vw;
  }
}

#timer-label {
  color: white;
  font-size: larger;
  margin-bottom: -1vw;
}

#timer {
  color: white;
  font-size: 5vw;
  margin-top: 0;
  margin-left: -0.5vw;
  font-weight: bold;
}

@media(max-width: 768px) {
  
}
/* -------------------------------------------- Faixa de Evento -------------------------------------------- */

.faixa-evento {
  background-image: url("../assets/image/faixa.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 72vw;
}

.detalhes-faixa {
  text-align: center;
  color: white;
  margin-top: 6vw;
  padding-top: 12vw;
}

#data-evento {
  font-size: 5vw;
  font-weight: bold;
}

.pre-eventos {
  margin-top: 2vw;
  font-size: 2vw;
  margin-bottom: 7.5vw;
}

#eventos-head {
  font-size: 2.1vw;
}

@media(max-width: 1250px) {
  #eventos-head {
    margin-top: 40px;
  }
  .pre-eventos {
    margin-top: 2vw;
    font-size: 2vw;
    margin-bottom: 2vw;
  }
}

#plataforma-evento {
  margin: 0;
  font-size: 2vw;
}

#inscricoes-limitadas {
  margin-bottom: 2vw;
  font-size: 2vw;
}

.buttons-container {
  text-align: center;
  position: relative;
  height: 20vw;
}

.btn-primary {
  font-size: 2vw;
  font-weight: bold;
  margin: 0 4%;
  width: 25vw;
  text-align: center;
  color: #63287f;
  background-color: white;
  border: 0.1vw solid #63287f;
  border-radius: 1vw;
}

.btn-primary:hover {
  color: white;
  background-color: #63287f;
  border: 0.1vw solid white;
  cursor: pointer;
}

.btn-primary:focus {
  color: white;
  background-color: #63287f;
  border: 0.1vw solid white;
  box-shadow: none;
}

@media(max-width: 768px) {
  .faixa-evento {
    margin-top: -7vw;
    position: relative;
    background-image: url("/assets/image/quadro_ext.png");
    height: 200vw;
    color: #63287f;
  }

  h3 {
    color: #63287f;
  }

  .pre-eventos {
    color: #63287f;
    margin-top: 2vw;
    font-size: larger;
    margin-bottom: 2vw;
  }
  
  #eventos-head {
    font-size: 5vw;
  }
  #data-evento {
    color: #63287f;
    font-size: 7vw;
    font-weight: bold;
    margin: 0;
  }

  #plataforma-evento {
    color: #63287f;
    font-size: 4vw;
  }

  #inscricoes-limitadas {
    color: #63287f;
    font-size: 4.8vw;
  }

  .buttons-container {
    text-align: center;
    position: relative;
  }

  .btn-primary, .btn-faixa {
    margin: 4vw;
    font-size: 5vw;
    font-weight: bold;
    width: 55%;
    text-align: center;
    background-color: #63287f;
    color: white;
    border: 1px solid #63287f;
    border-radius: 3vw;
  }
  .btn-faixa:hover {
    background-color: white;
    color: #63287f;
    border: 1px solid #63287f;
  }
}

/* ----------------------------------------------- Section ----------------------------------------------- */

.section {
  margin-top: 50px;
  position: relative;
}

#patrocinadores {
  clear: both;
  margin-bottom: 300px;
}


.marker {
  float: left;
  margin-left: 2vw;
  margin-right: 0.5vw;
  width: 3vw;
  margin-top: 1.1vw;
}

.title {
  float: left;
  color: #63287f;
  margin-top: 0.3vw;
  font-size: 3.5vw;
}

.blink-bar {
  float: left;
  width: 2.5vw;
  margin-top: 3.4vw;
  margin-left: 0.5vw;
  animation: blinkCursor 1s normal infinite;
}

.btn-dia, 
.btn-ano {
  font-size: 1.5rem;
  margin: 1vw 0.5vw;
  border-radius: 50%;
  border: 0.2vw solid white;
  color: #63287f;
  background-color: white;
}

.btn-dia:hover, 
.btn-ano:hover {
  color: #63287f;
  border: 0.2vw solid #63287f;
  background-color: white;
}

.btn-dia-actived, 
.btn-ano-actived {
  color: white;
  border: 0.2vw solid #63287f;
  background-color: #63287f;
  box-shadow: none;
}

.btn-dia-actived:hover, 
.btn-ano-actived:hover {
  color: white;
  border: 0.2vw solid white;
  background-color: #63287f;
  box-shadow: none;
}

.btn:focus,
.btn-primary:focus {
    box-shadow: none !important;
}

@keyframes blinkCursor {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

#intro {
  margin-top: 5vw;
}

#intro_2 {
  margin-top: 80px;
}

#ed-anteriores {
  margin-top: 150px;
  margin-bottom: 200px;
}

.section-body {
  padding: 2vw 6vw;
  clear: both;
}

.section-body p {
  font-size: 2vw;
  text-align: justify;
}

@media(max-width: 768px) {
  #intro {
    margin-top: 20vw;
  }
  .section {
    margin-top: 20vw;
  }

  #img-patro {
    display: none;
  }
  
  .title {
    float: left;
    font-size: 7vw;
  }

  .section-body {
    position: relative;
    padding: 2vw 6vw;
    clear: both;
  }
  
  .section-body p {
    font-size: 4.8vw;
    text-align: justify;
  }

  .pre-eventos {
    font-size: 4.8vw;
  }
  

  .blink-bar {
    width: 6vw;
    margin-top: 6vw;
    margin-left: 0.5vw;
  }

  .marker {
    margin-left: 2vw;
    margin-right: 1.2vw;
    width: 6vw;
    margin-top: 1.5vw;
  }
  
}

/* FOOTER */

.footer-dk {
  background-color: #340948;
}

.faq, 
.subtitle,
.txt-faq,
.txt-subtitle {
  margin: 0;
  padding: 0;
  font-size: medium;
} 

.faq a {
  text-decoration: none;
  color: #340948;
  font-weight: bold;
}
.faq a:hover {
  text-decoration: none;
  color: white;
}

footer {
  margin: 0;
  clear: both;
  width: 100%;
}

.txt-copyright {
  margin: 7px 0;
  text-align: center;
}

.column1 {
  padding: 10px;
  text-align: center;
}

.networks {
  margin-top: 10px;
  margin-bottom: 20px;
}

.column2 {
  padding: 10px;
  margin-top: 55px;
  text-align: center;
  vertical-align: middle;
}

.logo {
  width: 350px;
  margin-top: 50px;
  margin-bottom: 10px;
  padding: 25px;
}

.logo-header {
  width: 60px;
}

#qr-code {
  padding: 3px;
  border: 3px solid #340948;
  background-color: white;
  margin-bottom: 5px;
  width: 120px;
}

.nav-item .nav-link {
  color: white;
  opacity: 100%;
}

.social-network {
  width: 45px;
}

.footer-lt {
  background-color: #63287f;
  box-shadow: -1px -1px 5px #340948;
}

.networks a {
  text-decoration: none;
}

.social-network {
  margin-right: 1.8vw;
}

.social-network.last {
  margin-right: 0;
}

footer p {
 color: white;
}

.faq {
  padding-left: 0;
  font-size: medium;
}

.txt-faq {
  padding: 2px;
}

.back-to-top {
  position: relative;
  border: 0;
  border-radius: 50%;
  background-image: url("../assets/image/arrow-light.png");
  transform: rotate(270deg);
  background-repeat: no-repeat;
  background-size: 70%;
  background-position-x: 65%;
  background-position-y: center;
  background-color: #63287f;
  width: 65px;
  height: 65px;
  margin: 0;
  box-shadow: 0 0 5px #340948;
  left: 90%;
  margin-bottom: -32.5px;
}

.back-to-top:hover {
  background-image: url("../assets/image/arrow-dark.png");
  transform: rotate(270deg);
  background-repeat: no-repeat;
  background-size: 70%;
  background-position-x:65%;
  background-position-y: center;
  background-color: white;
}

@media(max-width: 768px) {
  .footer-lt {
    padding: 1vw;
    text-align: center;
    display: block;
  }

  .column1, .column2, .column3 {
    margin-top: 1vw;
    padding: 0;
    width: 100%;
    text-align: center;

  }
  .back-to-top {
    left: 80%;
  }
}

#carousel-cronograma, #carousel-ed-anteriores {
  position: relative;
  height: fit-content;
  margin: 0;
  padding: 0;
}

.carousel-inner {
  position: relative;
  border: 0.2vw solid #63287f;
  border-radius: 10px;
  padding: 1vw;
  overflow: hidden;
  height: 100%;
  display: flex;
  padding-left: 9.5vw;
}

.carousel-control-prev,
.carousel-control-next,
.carousel-control-prev-icon,
.carousel-control-next-icon,
.carousel-control-prev:hover,
.carousel-control-next:hover,
.carousel-control-prev:checked,
.carousel-control-next:checked,
.carousel-control-prev:focus,
.carousel-control-next:focus {
  opacity: 1;
}

.carousel-control-prev,
.carousel-control-next {
  margin: 0.2vw;
  border-radius: 10px;
  background-color: white;
  width: 10%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: url("../assets/image/arrow-dark.png");
  background-color: white;
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  border: white;
  background-size: 70%;
  opacity: 1;
}

.carousel-control-prev:hover .carousel-control-prev-icon,
.carousel-control-next:hover .carousel-control-next-icon {
  background-image: url("../assets/image/arrow-light.png");
  background-color: #63287f;
  border: #63287f;
}

.carousel-control-prev-icon {
  transform: rotate(180deg);
}

.card {
  position: relative;
  overflow: hidden;
  width: 250px;
  height: 400px;
  box-shadow: 1px 1px 5px #340948;
  border: 1px solid #63287f;
  margin: 1vw;
}

.card.card-img-top {
  position: absolute;
  width: 100%;
  height: 50vh;
}

.card-title {
  position: relative;
  text-align: center;
  font-size: larger;
  margin: 0 5px;
}

.card-body {
  position: relative;
  width: 100%;
  display: block;
}

.btn-card {
  position: absolute;
  left: 10%;
  bottom: 5%;
  border: 1px solid #63287f;
  color: white;
  background-color: #63287f;
  border-radius: 10px;
  text-align: center;
  font-size: large;
  font-weight: normal;
  width: 80%;
}

.btn-card:hover {
  border: 1px solid #63287f;
  color: #63287f;
  background-color: white;
}

p.card-text {
  position: relative;
  text-align: justify;
  height: 3vw;
  margin: 0 5px;
  font-size: medium;
}

@media(max-width: 1368px) {
  .card {
    position: relative;
    overflow: hidden;
    width: 200px;
    height: 350px;
    box-shadow: 1px 1px 5px #340948;
    border: 1px solid #63287f;
    margin: 1vw;
  }
}

@media(max-width: 575px) {
  .card {
    width: 150px;
    height: 300px;
  }
}

/* Página de Dúvidas Frequentes */
#secao_faq {
  margin-top: 5vw;
  margin-bottom: 40vw;
}

.accordion-item {
  border: none;
  margin: 0;
}

.accordion-button .pergunta {
  margin-left: 0.8rem;
  font-weight: normal;
  font-size: 1.3rem;
  color: #63287f;
  text-align: justify;
}

.accordion-button:focus {
  color: #63287f;
  box-shadow: none;
  background-color: white;
}

.accordion-button:checked {
  background: none;
  color: #63287f;
  box-shadow: none;
  background-color: white;
}



.accordion-button::after, .accordion-button:focus::after {
  background: none;
}

.accordion-body {
  font-size: 1.1rem;
  text-align: justify;

}

.marker-faq {
  width: 1.1rem;
  transition: 0.3s;
}

.accordion-button.collapsed .marker-faq {
  transform: rotate(90deg);
  transition: 0.3s;
}

p.formulario {
  margin-top: 5vw;
  text-align: center;
  font-size: 1.5rem;
  color:#63287f;
}

@media(max-width: 768px) {
  .accordion-button .pergunta {
    font-size: 1.2rem;
  }

  p.formulario {
    font-size: 1.2rem;
  }

  .accordion-body {
    font-size: 1.1rem;
  }
}

a {
  text-decoration: none;
}

.background-dark {
  background-color:#63287f;
}

.btn-veja-mais {
  background-color: #63287f;
  border: 1px solid #63287f;
  width: 20vw;
  color: white;
  margin-top: 50px;
  margin-bottom: 100px;
  margin-left: 0;
}

.btn-veja-mais:hover {
  background-color: white;
  color: #63287f;
  border: 1px solid #63287f;
}

.tecsul-logo {
  width: 350px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.accordion-button:not(.collapsed) {
  color: white;
  background-color: white;
  box-shadow: none;
}

.accordion-button:not(.collapsed)::after {
  background-image: none;
}

.navbar-dark .navbar-toggler {
  color: rgb(255,255,255);
  border-color: rgba(255,255,255, .1);
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #340948;
}

#footer-dark {
  background-color: #63287f;
}

@media(max-width: 768px) {
  .btn-veja-mais {
    width: 100%;
    border-radius: 2vw;
  }
}

.box {
  width: 200px;
  height: 700px;
  text-align: center;
}

#em_breve {
  padding-top: 200px;
  color: #63287f;
}

.happy_face {
  width: 50px;
}